In [1]:
%matplotlib inline
%load_ext autoreload
%autoreload 2
%reload_ext autoreload

In [2]:
import pandas as pd
from IPython.display import HTML
from pandas_summary import DataFrameSummary
from datetime import datetime, timedelta
import math
import numpy as np
from datetime import date
from fastai.tabular.transform import add_datepart

In [3]:
! pwd

/home/paperspace/myfastai

In [4]:
PATH="/home/paperspace/fastai/courses/dl1_recreate/"

In [5]:
DATA_PATH=f'{PATH}data/rossmann/'

In [6]:
! ls {DATA_PATH}

googletrend.csv        state_names.csv	store_states.csv  train.csv
sample_submission.csv  store.csv	test.csv	  weather.csv

In [7]:
! cat {DATA_PATH}googletrend.csv | head

file,week,trend
Rossmann_DE_SN,2012-12-02 - 2012-12-08,96
Rossmann_DE_SN,2012-12-09 - 2012-12-15,95
Rossmann_DE_SN,2012-12-16 - 2012-12-22,91
Rossmann_DE_SN,2012-12-23 - 2012-12-29,48
Rossmann_DE_SN,2012-12-30 - 2013-01-05,67
Rossmann_DE_SN,2013-01-06 - 2013-01-12,71
Rossmann_DE_SN,2013-01-13 - 2013-01-19,53
Rossmann_DE_SN,2013-01-20 - 2013-01-26,58
Rossmann_DE_SN,2013-01-27 - 2013-02-02,55
cat: write error: Broken pipe

In [8]:
! cat {DATA_PATH}train.csv | wc -l

1017210

In [9]:
! cat {DATA_PATH}test.csv | wc -l

41089

I grabbed the csv's pre-combined from a github repo -- normally the data comes in csv "shards" that have to be combined to create the entire dataset.

In [10]:
csvs = ['googletrend', 'state_names', 'store_states', 'train', 'store', 'test', 'weather']

In [11]:
dfs = [pd.read_csv(f'{DATA_PATH}{fname}.csv') for fname in csvs]

/home/paperspace/anaconda3/envs/fastai/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3183: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  if (yield from self.run_code(code, result)):

In [12]:
for (name, frame) in [(j, i.head()) for (i, j) in zip(dfs, csvs)]: display(name, frame)

'googletrend'

             file                     week  trend
0  Rossmann_DE_SN  2012-12-02 - 2012-12-08     96
1  Rossmann_DE_SN  2012-12-09 - 2012-12-15     95
2  Rossmann_DE_SN  2012-12-16 - 2012-12-22     91
3  Rossmann_DE_SN  2012-12-23 - 2012-12-29     48
4  Rossmann_DE_SN  2012-12-30 - 2013-01-05     67

'state_names'

           StateName State
0  BadenWuerttemberg    BW
1             Bayern    BY
2             Berlin    BE
3        Brandenburg    BB
4             Bremen    HB

'store_states'

   Store State
0      1    HE
1      2    TH
2      3    NW
3      4    BE
4      5    SN

'train'

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1

'store'

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN

'test'

   Id  Store  DayOfWeek        Date  Open  Promo StateHoliday  SchoolHoliday
0   1      1          4  2015-09-17   1.0      1            0              0
1   2      3          4  2015-09-17   1.0      1            0              0
2   3      7          4  2015-09-17   1.0      1            0              0
3   4      8          4  2015-09-17   1.0      1            0              0
4   5      9          4  2015-09-17   1.0      1            0              0

'weather'

,file,Date,Max_TemperatureC,Mean_TemperatureC,Min_TemperatureC,Dew_PointC,MeanDew_PointC,Min_DewpointC,Max_Humidity,Mean_Humidity,...,Max_VisibilityKm,Mean_VisibilityKm,Min_VisibilitykM,Max_Wind_SpeedKm_h,Mean_Wind_SpeedKm_h,Max_Gust_SpeedKm_h,Precipitationmm,CloudCover,Events,WindDirDegrees
0,NordrheinWestfalen,2013-01-01,8,4,2,7,5,1,94,87,...,31.0,12.0,4.0,39,26,58.0,5.08,6.0,Rain,215
1,NordrheinWestfalen,2013-01-02,7,4,1,5,3,2,93,85,...,31.0,14.0,10.0,24,16,NaN,0.00,6.0,Rain,225
2,NordrheinWestfalen,2013-01-03,11,8,6,10,8,4,100,93,...,31.0,8.0,2.0,26,21,NaN,1.02,7.0,Rain,240
3,NordrheinWestfalen,2013-01-04,9,9,8,9,9,8,100,94,...,11.0,5.0,2.0,23,14,NaN,0.25,7.0,Rain,263
4,NordrheinWestfalen,2013-01-05,8,8,7,8,7,6,100,94,...,10.0,6.0,3.0,16,10,NaN,0.00,7.0,Rain,268

In [13]:
googletrend, state_names, store_states, train, store, test, weather = dfs

In [14]:
googletrend.dtypes

file     object
week     object
trend     int64
dtype: object

In [15]:
[display(name, i.dtypes) for (name, i) in zip(csvs, dfs)]

'googletrend'

file     object
week     object
trend     int64
dtype: object

'state_names'

StateName    object
State        object
dtype: object

'store_states'

Store     int64
State    object
dtype: object

'train'

Store             int64
DayOfWeek         int64
Date             object
Sales             int64
Customers         int64
Open              int64
Promo             int64
StateHoliday     object
SchoolHoliday     int64
dtype: object

'store'

Store                          int64
StoreType                     object
Assortment                    object
CompetitionDistance          float64
CompetitionOpenSinceMonth    float64
CompetitionOpenSinceYear     float64
Promo2                         int64
Promo2SinceWeek              float64
Promo2SinceYear              float64
PromoInterval                 object
dtype: object

'test'

Id                 int64
Store              int64
DayOfWeek          int64
Date              object
Open             float64
Promo              int64
StateHoliday      object
SchoolHoliday      int64
dtype: object

'weather'

file                           object
Date                           object
Max_TemperatureC                int64
Mean_TemperatureC               int64
Min_TemperatureC                int64
Dew_PointC                      int64
MeanDew_PointC                  int64
Min_DewpointC                   int64
Max_Humidity                    int64
Mean_Humidity                   int64
Min_Humidity                    int64
Max_Sea_Level_PressurehPa       int64
Mean_Sea_Level_PressurehPa      int64
Min_Sea_Level_PressurehPa       int64
Max_VisibilityKm              float64
Mean_VisibilityKm             float64
Min_VisibilitykM              float64
Max_Wind_SpeedKm_h              int64
Mean_Wind_SpeedKm_h             int64
Max_Gust_SpeedKm_h            float64
Precipitationmm               float64
CloudCover                    float64
Events                         object
WindDirDegrees                  int64
dtype: object

[None, None, None, None, None, None, None]

In [16]:
train['StateHoliday'] = train['StateHoliday'] != '0'

In [17]:
display(train.dtypes)

Store             int64
DayOfWeek         int64
Date             object
Sales             int64
Customers         int64
Open              int64
Promo             int64
StateHoliday       bool
SchoolHoliday     int64
dtype: object

In [18]:
train.Date.head()

0    2015-07-31
1    2015-07-31
2    2015-07-31
3    2015-07-31
4    2015-07-31
Name: Date, dtype: object

In [19]:
googletrend.head()

             file                     week  trend
0  Rossmann_DE_SN  2012-12-02 - 2012-12-08     96
1  Rossmann_DE_SN  2012-12-09 - 2012-12-15     95
2  Rossmann_DE_SN  2012-12-16 - 2012-12-22     91
3  Rossmann_DE_SN  2012-12-23 - 2012-12-29     48
4  Rossmann_DE_SN  2012-12-30 - 2013-01-05     67

In [20]:
googletrend.file.unique()

array(['Rossmann_DE_SN', 'Rossmann_DE', 'Rossmann_DE_BY', 'Rossmann_DE_TH', 'Rossmann_DE_NW', 'Rossmann_DE_BE',
       'Rossmann_DE_RP', 'Rossmann_DE_BW', 'Rossmann_DE_NI', 'Rossmann_DE_SH', 'Rossmann_DE_HE', 'Rossmann_DE_ST',
       'Rossmann_DE_HH', 'Rossmann_DE_SL'], dtype=object)

In [21]:
googletrend.file = [i.split('_')[-1] for i in googletrend.file]

In [22]:
googletrend.week = [i.split(' - ')[0] for i in googletrend.week]

In [23]:
googletrend.head()

  file        week  trend
0   SN  2012-12-02     96
1   SN  2012-12-09     95
2   SN  2012-12-16     91
3   SN  2012-12-23     48
4   SN  2012-12-30     67

In [24]:
googletrend.columns = ['state', 'week', 'trend']

In [25]:
googletrend.head()

  state        week  trend
0    SN  2012-12-02     96
1    SN  2012-12-09     95
2    SN  2012-12-16     91
3    SN  2012-12-23     48
4    SN  2012-12-30     67

In [26]:
weather.head()

,file,Date,Max_TemperatureC,Mean_TemperatureC,Min_TemperatureC,Dew_PointC,MeanDew_PointC,Min_DewpointC,Max_Humidity,Mean_Humidity,...,Max_VisibilityKm,Mean_VisibilityKm,Min_VisibilitykM,Max_Wind_SpeedKm_h,Mean_Wind_SpeedKm_h,Max_Gust_SpeedKm_h,Precipitationmm,CloudCover,Events,WindDirDegrees
0,NordrheinWestfalen,2013-01-01,8,4,2,7,5,1,94,87,...,31.0,12.0,4.0,39,26,58.0,5.08,6.0,Rain,215
1,NordrheinWestfalen,2013-01-02,7,4,1,5,3,2,93,85,...,31.0,14.0,10.0,24,16,NaN,0.00,6.0,Rain,225
2,NordrheinWestfalen,2013-01-03,11,8,6,10,8,4,100,93,...,31.0,8.0,2.0,26,21,NaN,1.02,7.0,Rain,240
3,NordrheinWestfalen,2013-01-04,9,9,8,9,9,8,100,94,...,11.0,5.0,2.0,23,14,NaN,0.25,7.0,Rain,263
4,NordrheinWestfalen,2013-01-05,8,8,7,8,7,6,100,94,...,10.0,6.0,3.0,16,10,NaN,0.00,7.0,Rain,268

In [27]:
weather.isna().sum(axis=0)

file                              0
Date                              0
Max_TemperatureC                  0
Mean_TemperatureC                 0
Min_TemperatureC                  0
Dew_PointC                        0
MeanDew_PointC                    0
Min_DewpointC                     0
Max_Humidity                      0
Mean_Humidity                     0
Min_Humidity                      0
Max_Sea_Level_PressurehPa         0
Mean_Sea_Level_PressurehPa        0
Min_Sea_Level_PressurehPa         0
Max_VisibilityKm                381
Mean_VisibilityKm               381
Min_VisibilitykM                381
Max_Wind_SpeedKm_h                0
Mean_Wind_SpeedKm_h               0
Max_Gust_SpeedKm_h            12236
Precipitationmm                   0
CloudCover                     1173
Events                         3951
WindDirDegrees                    0
dtype: int64

In [28]:
weather.size

380160

In [29]:
weather.describe()

,Max_TemperatureC,Mean_TemperatureC,Min_TemperatureC,Dew_PointC,MeanDew_PointC,Min_DewpointC,Max_Humidity,Mean_Humidity,Min_Humidity,Max_Sea_Level_PressurehPa,...,Min_Sea_Level_PressurehPa,Max_VisibilityKm,Mean_VisibilityKm,Min_VisibilitykM,Max_Wind_SpeedKm_h,Mean_Wind_SpeedKm_h,Max_Gust_SpeedKm_h,Precipitationmm,CloudCover,WindDirDegrees
count,15840.000000,15840.000000,15840.000000,15840.000000,15840.000000,15840.000000,15840.000000,15840.000000,15840.000000,15840.000000,...,15840.000000,15459.000000,15459.000000,15459.000000,15840.000000,15840.000000,3604.000000,15840.000000,14667.000000,15840.000000
mean,14.644129,10.388952,6.198990,8.587816,6.205808,3.626136,93.659596,74.282891,50.158586,1018.532197,...,1012.307955,24.057572,12.239796,7.025163,22.766604,11.972222,48.864317,0.831718,5.551306,175.896717
std,8.646012,7.379260,6.526391,6.244780,6.086768,6.128390,7.678530,13.486552,19.960216,7.788720,...,8.600585,8.976799,5.067944,4.980602,8.988618,5.872844,13.026954,2.513506,1.687710,101.588872
min,-11.000000,-13.000000,-15.000000,-14.000000,-15.000000,-73.000000,44.000000,30.000000,4.000000,976.000000,...,970.000000,0.000000,0.000000,0.000000,3.000000,2.000000,21.000000,0.000000,0.000000,-1.000000
25%,8.000000,4.000000,1.000000,4.000000,2.000000,-1.000000,90.750000,65.000000,34.000000,1014.000000,...,1007.000000,14.000000,10.000000,3.000000,16.000000,8.000000,39.000000,0.000000,5.000000,80.000000
50%,15.000000,11.000000,7.000000,9.000000,7.000000,4.000000,94.000000,76.000000,49.000000,1019.000000,...,1013.000000,31.000000,11.000000,7.000000,21.000000,11.000000,48.000000,0.000000,6.000000,202.000000
75%,21.000000,16.000000,11.000000,13.000000,11.000000,8.000000,100.000000,85.000000,66.000000,1024.000000,...,1018.000000,31.000000,14.000000,10.000000,27.000000,14.000000,55.000000,0.250000,7.000000,256.000000
max,39.000000,31.000000,24.000000,25.000000,20.000000,19.000000,100.000000,100.000000,100.000000,1043.000000,...,1038.000000,31.000000,31.000000,31.000000,101.000000,53.000000,111.000000,58.930000,8.000000,360.000000

In [30]:
train.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,False,1
1,2,5,2015-07-31,6064,625,1,1,False,1
2,3,5,2015-07-31,8314,821,1,1,False,1
3,4,5,2015-07-31,13995,1498,1,1,False,1
4,5,5,2015-07-31,4822,559,1,1,False,1

In [31]:
store.head()

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN

In [32]:
train.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,False,1
1,2,5,2015-07-31,6064,625,1,1,False,1
2,3,5,2015-07-31,8314,821,1,1,False,1
3,4,5,2015-07-31,13995,1498,1,1,False,1
4,5,5,2015-07-31,4822,559,1,1,False,1

# Impute Missing Values, Compute Some Durations

In [33]:
avg_days_in_month = 30.42

In [34]:
store['Promo2SinceWeek'].describe()

count    571.000000
mean      23.595447
std       14.141984
min        1.000000
25%       13.000000
50%       22.000000
75%       37.000000
max       50.000000
Name: Promo2SinceWeek, dtype: float64

In [35]:
store['Promo2SinceMonth'] = np.ceil((store['Promo2SinceWeek'].astype(np.float64) * 7) / avg_days_in_month)

In [36]:
store['CompetitionDistance'].fillna(0.0, inplace=True)
store['CompetitionOpenSinceMonth'].fillna(1, inplace=True)
store['CompetitionOpenSinceYear'].fillna(1900, inplace=True)
store['PromoInterval'].fillna('', inplace=True)
store['Promo2SinceWeek'].fillna(1, inplace=True)
store['Promo2SinceMonth'].fillna(1, inplace=True)
store['Promo2SinceYear'].fillna(1900, inplace=True)

In [37]:
store['Promo2SinceYear'].describe(), store['Promo2SinceYear'].isna().sum()

(count    1115.000000
 mean     1957.234978
 std        55.903309
 min      1900.000000
 25%      1900.000000
 50%      2009.000000
 75%      2012.000000
 max      2015.000000
 Name: Promo2SinceYear, dtype: float64, 0)

In [38]:
store['Promo2SinceMonth'].describe(), store['Promo2SinceMonth'].isna().sum()

(count    1115.000000
 mean        3.642152
 std         3.481706
 min         1.000000
 25%         1.000000
 50%         1.000000
 75%         6.000000
 max        12.000000
 Name: Promo2SinceMonth, dtype: float64, 0)

In [39]:
store['Promo2Since'] = store.apply(lambda x: datetime(year=int(x['Promo2SinceYear']), month=int(x['Promo2SinceMonth']), day=15), axis=1)

In [40]:
train_store = train.merge(store, on='Store', suffixes=['', '_y'])

In [41]:
train_store['CompetitionOpenSince'] = train_store.apply(lambda x: datetime(year=int(x['CompetitionOpenSinceYear']), month=int(x['CompetitionOpenSinceMonth']), day=15), axis=1)

In [42]:
train_store['Date'] = train_store['Date'].astype('datetime64[D]')

In [43]:
train_store['CompetitionDaysOpen'] = np.floor(train_store.apply(lambda x: (x['Date'] - x['CompetitionOpenSince']) / timedelta(days=1), axis=1))

In [45]:
train_store['CompetitionWeeksOpen'] = np.floor(train_store['CompetitionDaysOpen'] / 7.0)

In [47]:
train_store['CompetitionMonthsOpen'] = np.floor(train_store['CompetitionDaysOpen'] / avg_days_in_month)

In [48]:
train_store['Promo2Days'] = np.floor(train_store.apply(lambda x: (x['Date'] - x['Promo2Since']) / timedelta(days=1), axis=1))

In [50]:
train_store['Promo2Weeks'] = np.floor(np.ceil(train_store['Promo2Days'] / 7.0))

In [52]:
train_store['Promo2Months'] = np.floor(np.ceil(train_store['Promo2Days'] / avg_days_in_month))

In [53]:
weather.isna().sum(axis=0)

file                              0
Date                              0
Max_TemperatureC                  0
Mean_TemperatureC                 0
Min_TemperatureC                  0
Dew_PointC                        0
MeanDew_PointC                    0
Min_DewpointC                     0
Max_Humidity                      0
Mean_Humidity                     0
Min_Humidity                      0
Max_Sea_Level_PressurehPa         0
Mean_Sea_Level_PressurehPa        0
Min_Sea_Level_PressurehPa         0
Max_VisibilityKm                381
Mean_VisibilityKm               381
Min_VisibilitykM                381
Max_Wind_SpeedKm_h                0
Mean_Wind_SpeedKm_h               0
Max_Gust_SpeedKm_h            12236
Precipitationmm                   0
CloudCover                     1173
Events                         3951
WindDirDegrees                    0
dtype: int64

In [54]:
weather['Max_VisibilityKm'].fillna(0.0, inplace=True)
weather['Mean_VisibilityKm'].fillna(0.0, inplace=True)
weather['Min_VisibilitykM'].fillna(0.0, inplace=True)
weather['Max_Gust_SpeedKm_h'].fillna(0.0, inplace=True)
weather['CloudCover'].fillna(0.0, inplace=True)
weather['Events'].fillna(0.0, inplace=True)

In [55]:
train_store_dfs = DataFrameSummary(store); train_store_dfs.columns_stats

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,Promo2SinceMonth,Promo2Since
counts,1115,1115,1115,1115,1115,1115,1115,1115,1115,1115,1115,1115
uniques,1115,4,3,655,12,23,2,24,8,4,12,52
missing,0,0,0,0,0,0,0,0,0,0,0,0
missing_perc,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%
types,numeric,categorical,categorical,numeric,numeric,numeric,bool,numeric,numeric,categorical,numeric,date

In [56]:
train_store.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,...,PromoInterval,Promo2SinceMonth,Promo2Since,CompetitionOpenSince,CompetitionDaysOpen,CompetitionWeeksOpen,CompetitionMonthsOpen,Promo2Days,Promo2Weeks,Promo2Months
0,1,5,2015-07-31,5263,555,1,1,False,1,c,...,,1.0,1900-01-15,2008-09-15,2510.0,358.0,82.0,42200.0,6029.0,1388.0
1,1,4,2015-07-30,5020,546,1,1,False,1,c,...,,1.0,1900-01-15,2008-09-15,2509.0,358.0,82.0,42199.0,6029.0,1388.0
2,1,3,2015-07-29,4782,523,1,1,False,1,c,...,,1.0,1900-01-15,2008-09-15,2508.0,358.0,82.0,42198.0,6029.0,1388.0
3,1,2,2015-07-28,5011,560,1,1,False,1,c,...,,1.0,1900-01-15,2008-09-15,2507.0,358.0,82.0,42197.0,6029.0,1388.0
4,1,1,2015-07-27,6102,612,1,1,False,1,c,...,,1.0,1900-01-15,2008-09-15,2506.0,358.0,82.0,42196.0,6028.0,1388.0

In [57]:
store_states.head()

   Store State
0      1    HE
1      2    TH
2      3    NW
3      4    BE
4      5    SN

In [58]:
weather.head()

,file,Date,Max_TemperatureC,Mean_TemperatureC,Min_TemperatureC,Dew_PointC,MeanDew_PointC,Min_DewpointC,Max_Humidity,Mean_Humidity,...,Max_VisibilityKm,Mean_VisibilityKm,Min_VisibilitykM,Max_Wind_SpeedKm_h,Mean_Wind_SpeedKm_h,Max_Gust_SpeedKm_h,Precipitationmm,CloudCover,Events,WindDirDegrees
0,NordrheinWestfalen,2013-01-01,8,4,2,7,5,1,94,87,...,31.0,12.0,4.0,39,26,58.0,5.08,6.0,Rain,215
1,NordrheinWestfalen,2013-01-02,7,4,1,5,3,2,93,85,...,31.0,14.0,10.0,24,16,0.0,0.00,6.0,Rain,225
2,NordrheinWestfalen,2013-01-03,11,8,6,10,8,4,100,93,...,31.0,8.0,2.0,26,21,0.0,1.02,7.0,Rain,240
3,NordrheinWestfalen,2013-01-04,9,9,8,9,9,8,100,94,...,11.0,5.0,2.0,23,14,0.0,0.25,7.0,Rain,263
4,NordrheinWestfalen,2013-01-05,8,8,7,8,7,6,100,94,...,10.0,6.0,3.0,16,10,0.0,0.00,7.0,Rain,268

In [59]:
weather_state_names = weather.merge(state_names, how='left', left_on='file', right_on='StateName', suffixes=['', '_y'])

In [60]:
weather_state_names.head()

,file,Date,Max_TemperatureC,Mean_TemperatureC,Min_TemperatureC,Dew_PointC,MeanDew_PointC,Min_DewpointC,Max_Humidity,Mean_Humidity,...,Min_VisibilitykM,Max_Wind_SpeedKm_h,Mean_Wind_SpeedKm_h,Max_Gust_SpeedKm_h,Precipitationmm,CloudCover,Events,WindDirDegrees,StateName,State
0,NordrheinWestfalen,2013-01-01,8,4,2,7,5,1,94,87,...,4.0,39,26,58.0,5.08,6.0,Rain,215,NordrheinWestfalen,NW
1,NordrheinWestfalen,2013-01-02,7,4,1,5,3,2,93,85,...,10.0,24,16,0.0,0.00,6.0,Rain,225,NordrheinWestfalen,NW
2,NordrheinWestfalen,2013-01-03,11,8,6,10,8,4,100,93,...,2.0,26,21,0.0,1.02,7.0,Rain,240,NordrheinWestfalen,NW
3,NordrheinWestfalen,2013-01-04,9,9,8,9,9,8,100,94,...,2.0,23,14,0.0,0.25,7.0,Rain,263,NordrheinWestfalen,NW
4,NordrheinWestfalen,2013-01-05,8,8,7,8,7,6,100,94,...,3.0,16,10,0.0,0.00,7.0,Rain,268,NordrheinWestfalen,NW

In [61]:
weather_state_names.drop('file', inplace=True, axis=1)

In [62]:
weather_state_names.drop('StateName', inplace=True, axis=1)

In [63]:
weather_state_names.head()

,Date,Max_TemperatureC,Mean_TemperatureC,Min_TemperatureC,Dew_PointC,MeanDew_PointC,Min_DewpointC,Max_Humidity,Mean_Humidity,Min_Humidity,...,Mean_VisibilityKm,Min_VisibilitykM,Max_Wind_SpeedKm_h,Mean_Wind_SpeedKm_h,Max_Gust_SpeedKm_h,Precipitationmm,CloudCover,Events,WindDirDegrees,State
0,2013-01-01,8,4,2,7,5,1,94,87,65,...,12.0,4.0,39,26,58.0,5.08,6.0,Rain,215,NW
1,2013-01-02,7,4,1,5,3,2,93,85,78,...,14.0,10.0,24,16,0.0,0.00,6.0,Rain,225,NW
2,2013-01-03,11,8,6,10,8,4,100,93,77,...,8.0,2.0,26,21,0.0,1.02,7.0,Rain,240,NW
3,2013-01-04,9,9,8,9,9,8,100,94,87,...,5.0,2.0,23,14,0.0,0.25,7.0,Rain,263,NW
4,2013-01-05,8,8,7,8,7,6,100,94,87,...,6.0,3.0,16,10,0.0,0.00,7.0,Rain,268,NW

In [64]:
wsn_summary = DataFrameSummary(weather_state_names)

In [65]:
wsn_summary.columns_stats

,Date,Max_TemperatureC,Mean_TemperatureC,Min_TemperatureC,Dew_PointC,MeanDew_PointC,Min_DewpointC,Max_Humidity,Mean_Humidity,Min_Humidity,...,Mean_VisibilityKm,Min_VisibilitykM,Max_Wind_SpeedKm_h,Mean_Wind_SpeedKm_h,Max_Gust_SpeedKm_h,Precipitationmm,CloudCover,Events,WindDirDegrees,State
counts,15840,15840,15840,15840,15840,15840,15840,15840,15840,15840,...,15840,15840,15840,15840,15840,15840,15840,15840,15840,15840
uniques,990,51,45,40,40,36,40,53,71,93,...,32,24,44,29,48,41,9,22,362,16
missing,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
missing_perc,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,...,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%
types,categorical,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,...,numeric,numeric,numeric,numeric,numeric,numeric,numeric,categorical,numeric,categorical

In [66]:
weather_state_names.describe()

,Max_TemperatureC,Mean_TemperatureC,Min_TemperatureC,Dew_PointC,MeanDew_PointC,Min_DewpointC,Max_Humidity,Mean_Humidity,Min_Humidity,Max_Sea_Level_PressurehPa,...,Min_Sea_Level_PressurehPa,Max_VisibilityKm,Mean_VisibilityKm,Min_VisibilitykM,Max_Wind_SpeedKm_h,Mean_Wind_SpeedKm_h,Max_Gust_SpeedKm_h,Precipitationmm,CloudCover,WindDirDegrees
count,15840.000000,15840.000000,15840.000000,15840.000000,15840.000000,15840.000000,15840.000000,15840.000000,15840.000000,15840.000000,...,15840.000000,15840.000000,15840.000000,15840.000000,15840.000000,15840.000000,15840.000000,15840.000000,15840.000000,15840.000000
mean,14.644129,10.388952,6.198990,8.587816,6.205808,3.626136,93.659596,74.282891,50.158586,1018.532197,...,1012.307955,23.478914,11.945391,6.856187,22.766604,11.972222,11.117866,0.831718,5.140215,175.896717
std,8.646012,7.379260,6.526391,6.244780,6.086768,6.128390,7.678530,13.486552,19.960216,7.788720,...,8.600585,9.603731,5.346329,5.036695,8.988618,5.872844,21.407700,2.513506,2.179599,101.588872
min,-11.000000,-13.000000,-15.000000,-14.000000,-15.000000,-73.000000,44.000000,30.000000,4.000000,976.000000,...,970.000000,0.000000,0.000000,0.000000,3.000000,2.000000,0.000000,0.000000,0.000000,-1.000000
25%,8.000000,4.000000,1.000000,4.000000,2.000000,-1.000000,90.750000,65.000000,34.000000,1014.000000,...,1007.000000,13.000000,9.000000,3.000000,16.000000,8.000000,0.000000,0.000000,4.000000,80.000000
50%,15.000000,11.000000,7.000000,9.000000,7.000000,4.000000,94.000000,76.000000,49.000000,1019.000000,...,1013.000000,31.000000,11.000000,6.000000,21.000000,11.000000,0.000000,0.000000,6.000000,202.000000
75%,21.000000,16.000000,11.000000,13.000000,11.000000,8.000000,100.000000,85.000000,66.000000,1024.000000,...,1018.000000,31.000000,14.000000,10.000000,27.000000,14.000000,0.000000,0.250000,7.000000,256.000000
max,39.000000,31.000000,24.000000,25.000000,20.000000,19.000000,100.000000,100.000000,100.000000,1043.000000,...,1038.000000,31.000000,31.000000,31.000000,101.000000,53.000000,111.000000,58.930000,8.000000,360.000000

In [67]:
weather_state_names.head()

,Date,Max_TemperatureC,Mean_TemperatureC,Min_TemperatureC,Dew_PointC,MeanDew_PointC,Min_DewpointC,Max_Humidity,Mean_Humidity,Min_Humidity,...,Mean_VisibilityKm,Min_VisibilitykM,Max_Wind_SpeedKm_h,Mean_Wind_SpeedKm_h,Max_Gust_SpeedKm_h,Precipitationmm,CloudCover,Events,WindDirDegrees,State
0,2013-01-01,8,4,2,7,5,1,94,87,65,...,12.0,4.0,39,26,58.0,5.08,6.0,Rain,215,NW
1,2013-01-02,7,4,1,5,3,2,93,85,78,...,14.0,10.0,24,16,0.0,0.00,6.0,Rain,225,NW
2,2013-01-03,11,8,6,10,8,4,100,93,77,...,8.0,2.0,26,21,0.0,1.02,7.0,Rain,240,NW
3,2013-01-04,9,9,8,9,9,8,100,94,87,...,5.0,2.0,23,14,0.0,0.25,7.0,Rain,263,NW
4,2013-01-05,8,8,7,8,7,6,100,94,87,...,6.0,3.0,16,10,0.0,0.00,7.0,Rain,268,NW

In [68]:
# weather_state_names.to_feather('weather_state_names')

In [69]:
train_store.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,...,PromoInterval,Promo2SinceMonth,Promo2Since,CompetitionOpenSince,CompetitionDaysOpen,CompetitionWeeksOpen,CompetitionMonthsOpen,Promo2Days,Promo2Weeks,Promo2Months
0,1,5,2015-07-31,5263,555,1,1,False,1,c,...,,1.0,1900-01-15,2008-09-15,2510.0,358.0,82.0,42200.0,6029.0,1388.0
1,1,4,2015-07-30,5020,546,1,1,False,1,c,...,,1.0,1900-01-15,2008-09-15,2509.0,358.0,82.0,42199.0,6029.0,1388.0
2,1,3,2015-07-29,4782,523,1,1,False,1,c,...,,1.0,1900-01-15,2008-09-15,2508.0,358.0,82.0,42198.0,6029.0,1388.0
3,1,2,2015-07-28,5011,560,1,1,False,1,c,...,,1.0,1900-01-15,2008-09-15,2507.0,358.0,82.0,42197.0,6029.0,1388.0
4,1,1,2015-07-27,6102,612,1,1,False,1,c,...,,1.0,1900-01-15,2008-09-15,2506.0,358.0,82.0,42196.0,6028.0,1388.0

In [70]:
store_states.head()

   Store State
0      1    HE
1      2    TH
2      3    NW
3      4    BE
4      5    SN

In [71]:
train_store_state = train_store.merge(store_states, how='left', on='Store', suffixes=['', '_y'])

In [72]:
weather_state_names['Date'] = weather_state_names['Date'].astype('datetime64[D]')

In [73]:
train_store_state_weather = train_store_state.merge(weather_state_names, how='left', on=['State', 'Date'], suffixes=['', '_y'])

In [74]:
train_store_state_weather.drop('Promo2Since', inplace=True, axis=1)
train_store_state_weather.drop('CompetitionOpenSince', inplace=True, axis=1)

In [75]:
train_store_state_weather.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,...,Max_VisibilityKm,Mean_VisibilityKm,Min_VisibilitykM,Max_Wind_SpeedKm_h,Mean_Wind_SpeedKm_h,Max_Gust_SpeedKm_h,Precipitationmm,CloudCover,Events,WindDirDegrees
0,1,5,2015-07-31,5263,555,1,1,False,1,c,...,31.0,15.0,10.0,24,11,0.0,0.00,1.0,Fog,13
1,1,4,2015-07-30,5020,546,1,1,False,1,c,...,10.0,10.0,10.0,29,11,53.0,0.00,4.0,Rain,253
2,1,3,2015-07-29,4782,523,1,1,False,1,c,...,31.0,11.0,10.0,32,21,42.0,0.00,5.0,Rain,231
3,1,2,2015-07-28,5011,560,1,1,False,1,c,...,14.0,10.0,10.0,40,23,55.0,0.00,5.0,Rain,236
4,1,1,2015-07-27,6102,612,1,1,False,1,c,...,31.0,12.0,10.0,50,21,63.0,2.03,6.0,Rain,211

In [76]:
add_datepart(train_store_state_weather, 'Date', False, False)

In [77]:
train_store_state_weather.isna().sum(axis=0)

Store                         0
DayOfWeek                     0
Date                          0
Sales                         0
Customers                     0
Open                          0
Promo                         0
StateHoliday                  0
SchoolHoliday                 0
StoreType                     0
Assortment                    0
CompetitionDistance           0
CompetitionOpenSinceMonth     0
CompetitionOpenSinceYear      0
Promo2                        0
Promo2SinceWeek               0
Promo2SinceYear               0
PromoInterval                 0
Promo2SinceMonth              0
CompetitionDaysOpen           0
CompetitionWeeksOpen          0
CompetitionMonthsOpen         0
Promo2Days                    0
Promo2Weeks                   0
Promo2Months                  0
State                         0
Max_TemperatureC              0
Mean_TemperatureC             0
Min_TemperatureC              0
Dew_PointC                    0
                             ..
Min_DewpointC                 0
Max_Humidity                  0
Mean_Humidity                 0
Min_Humidity                  0
Max_Sea_Level_PressurehPa     0
Mean_Sea_Level_PressurehPa    0
Min_Sea_Level_PressurehPa     0
Max_VisibilityKm              0
Mean_VisibilityKm             0
Min_VisibilitykM              0
Max_Wind_SpeedKm_h            0
Mean_Wind_SpeedKm_h           0
Max_Gust_SpeedKm_h            0
Precipitationmm               0
CloudCover                    0
Events                        0
WindDirDegrees                0
Year                          0
Month                         0
Week                          0
Day                           0
Dayofweek                     0
Dayofyear                     0
Is_month_end                  0
Is_month_start                0
Is_quarter_end                0
Is_quarter_start              0
Is_year_end                   0
Is_year_start                 0
Elapsed                       0
Length: 61, dtype: int64

Todo:
* Identify columns that involve "since" and "until", and write some logic that does that
* 7-day rolling averages in both directions for a handful of columns

In [78]:
# rename for clarity
base_df = train_store_state_weather

In [79]:
def get_elapsed(df, date_col, change_col, prefix):
    last_store = -1
    last_date = np.datetime64('NaT')
    vals = []
    for (date, store, col) in zip(df[date_col], df['Store'], df[change_col]):
        if store != last_store: 
            last_date = np.datetime64('NaT')
            last_store = store
        if col:
            last_date = date
        vals.append((date - last_date) / timedelta(days=1))
    df[prefix + change_col] = vals
    return df

In [80]:
a = pd.Series(pd.date_range(pd.datetime.today(), periods=13)).astype('datetime64[D]')

In [81]:
b = [False] * 4 + [True] + [False] * 5 + [False] + [True, False]

In [82]:
b

[False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False]

In [83]:
c = [1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3]

In [84]:
test_df = pd.DataFrame({'a': a, 'b': b, 'Store': c})

In [85]:
get_elapsed(test_df, 'a', 'b', 'After')

            a      b  Store    Afterb
0  2019-01-08  False      1  737066.0
1  2019-01-09  False      1  737067.0
2  2019-01-10  False      2  737068.0
3  2019-01-11  False      2  737069.0
4  2019-01-12   True      2       0.0
5  2019-01-13  False      2       1.0
6  2019-01-14  False      2       2.0
7  2019-01-15  False      2       3.0
8  2019-01-16  False      2       4.0
9  2019-01-17  False      2       5.0
10 2019-01-18  False      3  737076.0
11 2019-01-19   True      3       0.0
12 2019-01-20  False      3       1.0

In [86]:
base_df.sort_values(by=['Store', 'Date'], ascending=[True, True], inplace=True)

In [87]:
base_df = get_elapsed(base_df, 'Date', 'StateHoliday', 'After')

In [88]:
base_df.sort_values(by=['Date', 'Store'], ascending=[True, False], inplace=True)

In [89]:
base_df = get_elapsed(base_df, 'Date', 'StateHoliday', 'Before')

In [90]:
base_df.sort_values(by=['Store', 'Date'], ascending=[True, True], inplace=True)

In [91]:
tmp_df = base_df.set_index('Date')

In [92]:
columns = ['SchoolHoliday', 'StateHoliday', 'Promo']

In [93]:
fwd = tmp_df[['Store'] + columns].sort_index().groupby('Store').rolling(7, min_periods=1).sum()
bwd = tmp_df[['Store'] + columns].sort_index(ascending=False).groupby('Store').rolling(7, min_periods=1).sum()

In [94]:
fwd = fwd.drop('Store', axis=1).reset_index()
bwd = bwd.drop('Store', axis=1).reset_index()

In [95]:
fwd.head()

   Store       Date  SchoolHoliday  StateHoliday  Promo
0      1 2013-01-01            1.0           1.0    0.0
1      1 2013-01-02            2.0           1.0    0.0
2      1 2013-01-03            3.0           1.0    0.0
3      1 2013-01-04            4.0           1.0    0.0
4      1 2013-01-05            5.0           1.0    0.0

In [96]:
bwd.head()

   Store       Date  SchoolHoliday  StateHoliday  Promo
0      1 2015-07-31            1.0           0.0    1.0
1      1 2015-07-30            2.0           0.0    2.0
2      1 2015-07-29            3.0           0.0    3.0
3      1 2015-07-28            4.0           0.0    4.0
4      1 2015-07-27            5.0           0.0    5.0

In [97]:
base_df = base_df.merge(fwd, on=['Store', 'Date'], how='left', suffixes=['', '_fwd'])

In [98]:
base_df = base_df.merge(bwd, on=['Store', 'Date'], how='left', suffixes=['', '_bwd'])

In [99]:
base_df.isna().sum().sum()

0

In [100]:
base_df.columns

Index(['Store', 'DayOfWeek', 'Date', 'Sales', 'Customers', 'Open', 'Promo',
       'StateHoliday', 'SchoolHoliday', 'StoreType', 'Assortment',
       'CompetitionDistance', 'CompetitionOpenSinceMonth',
       'CompetitionOpenSinceYear', 'Promo2', 'Promo2SinceWeek',
       'Promo2SinceYear', 'PromoInterval', 'Promo2SinceMonth',
       'CompetitionDaysOpen', 'CompetitionWeeksOpen', 'CompetitionMonthsOpen',
       'Promo2Days', 'Promo2Weeks', 'Promo2Months', 'State',
       'Max_TemperatureC', 'Mean_TemperatureC', 'Min_TemperatureC',
       'Dew_PointC', 'MeanDew_PointC', 'Min_DewpointC', 'Max_Humidity',
       'Mean_Humidity', 'Min_Humidity', 'Max_Sea_Level_PressurehPa',
       'Mean_Sea_Level_PressurehPa', 'Min_Sea_Level_PressurehPa',
       'Max_VisibilityKm', 'Mean_VisibilityKm', 'Min_VisibilitykM',
       'Max_Wind_SpeedKm_h', 'Mean_Wind_SpeedKm_h', 'Max_Gust_SpeedKm_h',
       'Precipitationmm', 'CloudCover', 'Events', 'WindDirDegrees', 'Year',
       'Month', 'Week', 'Day', 'Dayofweek', 'Dayofyear', 'Is_month_end',
       'Is_month_start', 'Is_quarter_end', 'Is_quarter_start', 'Is_year_end',
       'Is_year_start', 'Elapsed', 'AfterStateHoliday', 'BeforeStateHoliday',
       'SchoolHoliday_fwd', 'StateHoliday_fwd', 'Promo_fwd',
       'SchoolHoliday_bwd', 'StateHoliday_bwd', 'Promo_bwd'],
      dtype='object')

* Look up heuristic for max number of categories
* Look thru again for any cols that should have been removed
* Split into cont and and cat and do whatever preproc needs to be done
* Create a fastai tabular model

In [101]:
base_df.describe()

,Store,DayOfWeek,Sales,Customers,Open,Promo,SchoolHoliday,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,...,Dayofyear,Elapsed,AfterStateHoliday,BeforeStateHoliday,SchoolHoliday_fwd,StateHoliday_fwd,Promo_fwd,SchoolHoliday_bwd,StateHoliday_bwd,Promo_bwd
count,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,...,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06
mean,5.584297e+02,3.998341e+00,5.773819e+03,6.331459e+02,8.301067e-01,3.815145e-01,1.786467e-01,5.415982e+03,5.244756e+00,1.974140e+03,...,1.622764e+02,1.397180e+09,8.864203e+01,6.181310e+05,1.232767e+00,1.115655e+00,2.648679e+00,1.230985e+00,1.108780e+00,2.670601e+00
std,3.219087e+02,1.997391e+00,3.849926e+03,4.644117e+02,3.755392e-01,4.857586e-01,3.830564e-01,7.710253e+03,3.928522e+00,5.085323e+01,...,1.016162e+02,2.371283e+07,6.756928e+03,2.691515e+05,2.053886e+00,2.261691e+00,1.910292e+00,2.055302e+00,2.263417e+00,1.902708e+00
min,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.900000e+03,...,1.000000e+00,1.356998e+09,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2.800000e+02,2.000000e+00,3.727000e+03,4.050000e+02,1.000000e+00,0.000000e+00,0.000000e+00,7.000000e+02,1.000000e+00,1.900000e+03,...,7.700000e+01,1.376698e+09,4.000000e+00,7.349510e+05,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
50%,5.580000e+02,4.000000e+00,5.744000e+03,6.090000e+02,1.000000e+00,0.000000e+00,0.000000e+00,2.320000e+03,4.000000e+00,2.006000e+03,...,1.530000e+02,1.396397e+09,1.600000e+01,7.351870e+05,0.000000e+00,0.000000e+00,3.000000e+00,0.000000e+00,0.000000e+00,3.000000e+00
75%,8.380000e+02,6.000000e+00,7.856000e+03,8.370000e+02,1.000000e+00,1.000000e+00,0.000000e+00,6.880000e+03,9.000000e+00,2.011000e+03,...,2.410000e+02,1.418342e+09,4.200000e+01,7.355680e+05,2.000000e+00,1.000000e+00,5.000000e+00,2.000000e+00,1.000000e+00,5.000000e+00
max,1.115000e+03,7.000000e+00,4.155100e+04,7.388000e+03,1.000000e+00,1.000000e+00,1.000000e+00,7.586000e+04,1.200000e+01,2.015000e+03,...,3.650000e+02,1.438301e+09,7.349540e+05,7.358090e+05,7.000000e+00,7.000000e+00,5.000000e+00,7.000000e+00,7.000000e+00,5.000000e+00

In [102]:
for i in base_df.columns: print("{}: {}".format(i, len(base_df[i].unique())))

Store: 1115
DayOfWeek: 7
Date: 942
Sales: 21734
Customers: 4086
Open: 2
Promo: 2
StateHoliday: 2
SchoolHoliday: 2
StoreType: 4
Assortment: 3
CompetitionDistance: 655
CompetitionOpenSinceMonth: 12
CompetitionOpenSinceYear: 23
Promo2: 2
Promo2SinceWeek: 24
Promo2SinceYear: 8
PromoInterval: 4
Promo2SinceMonth: 12
CompetitionDaysOpen: 11345
CompetitionWeeksOpen: 1625
CompetitionMonthsOpen: 378
Promo2Days: 4014
Promo2Weeks: 574
Promo2Months: 134
State: 12
Max_TemperatureC: 50
Mean_TemperatureC: 45
Min_TemperatureC: 40
Dew_PointC: 39
MeanDew_PointC: 36
Min_DewpointC: 38
Max_Humidity: 52
Mean_Humidity: 71
Min_Humidity: 93
Max_Sea_Level_PressurehPa: 66
Mean_Sea_Level_PressurehPa: 67
Min_Sea_Level_PressurehPa: 68
Max_VisibilityKm: 24
Mean_VisibilityKm: 32
Min_VisibilitykM: 24
Max_Wind_SpeedKm_h: 42
Mean_Wind_SpeedKm_h: 27
Max_Gust_SpeedKm_h: 46
Precipitationmm: 40
CloudCover: 9
Events: 22
WindDirDegrees: 362
Year: 3
Month: 12
Week: 52
Day: 31
Dayofweek: 7
Dayofyear: 365
Is_month_end: 2
Is_month_start: 2
Is_quarter_end: 2
Is_quarter_start: 2
Is_year_end: 2
Is_year_start: 2
Elapsed: 942
AfterStateHoliday: 222
BeforeStateHoliday: 793
SchoolHoliday_fwd: 8
StateHoliday_fwd: 8
Promo_fwd: 6
SchoolHoliday_bwd: 8
StateHoliday_bwd: 8
Promo_bwd: 6

In [103]:
cat_vars = ['Store', 'DayOfWeek', 'Year', 'Month', 'Day', 'StateHoliday', 'CompetitionMonthsOpen',
    'Promo2Weeks', 'StoreType', 'Assortment', 'PromoInterval', 'CompetitionOpenSinceYear', 'Promo2SinceYear',
    'State', 'Week', 'Events', 'Promo_fwd', 'Promo_bwd', 'StateHoliday_fwd', 'StateHoliday_bwd',
    'SchoolHoliday_fwd', 'SchoolHoliday_bwd']

contin_vars = ['CompetitionDistance', 'Max_TemperatureC', 'Mean_TemperatureC', 'Min_TemperatureC',
   'Max_Humidity', 'Mean_Humidity', 'Min_Humidity', 'Max_Wind_SpeedKm_h', 
   'Mean_Wind_SpeedKm_h', 'CloudCover', 'trend', 'trend_DE',
   'AfterStateHoliday', 'BeforeStateHoliday', 'Promo', 'SchoolHoliday']

In [104]:
base_df.columns

Index(['Store', 'DayOfWeek', 'Date', 'Sales', 'Customers', 'Open', 'Promo',
       'StateHoliday', 'SchoolHoliday', 'StoreType', 'Assortment',
       'CompetitionDistance', 'CompetitionOpenSinceMonth',
       'CompetitionOpenSinceYear', 'Promo2', 'Promo2SinceWeek',
       'Promo2SinceYear', 'PromoInterval', 'Promo2SinceMonth',
       'CompetitionDaysOpen', 'CompetitionWeeksOpen', 'CompetitionMonthsOpen',
       'Promo2Days', 'Promo2Weeks', 'Promo2Months', 'State',
       'Max_TemperatureC', 'Mean_TemperatureC', 'Min_TemperatureC',
       'Dew_PointC', 'MeanDew_PointC', 'Min_DewpointC', 'Max_Humidity',
       'Mean_Humidity', 'Min_Humidity', 'Max_Sea_Level_PressurehPa',
       'Mean_Sea_Level_PressurehPa', 'Min_Sea_Level_PressurehPa',
       'Max_VisibilityKm', 'Mean_VisibilityKm', 'Min_VisibilitykM',
       'Max_Wind_SpeedKm_h', 'Mean_Wind_SpeedKm_h', 'Max_Gust_SpeedKm_h',
       'Precipitationmm', 'CloudCover', 'Events', 'WindDirDegrees', 'Year',
       'Month', 'Week', 'Day', 'Dayofweek', 'Dayofyear', 'Is_month_end',
       'Is_month_start', 'Is_quarter_end', 'Is_quarter_start', 'Is_year_end',
       'Is_year_start', 'Elapsed', 'AfterStateHoliday', 'BeforeStateHoliday',
       'SchoolHoliday_fwd', 'StateHoliday_fwd', 'Promo_fwd',
       'SchoolHoliday_bwd', 'StateHoliday_bwd', 'Promo_bwd'],
      dtype='object')

In [105]:
base_df.loc[:, cat_vars].describe()

,Store,DayOfWeek,Year,Month,Day,CompetitionMonthsOpen,Promo2Weeks,CompetitionOpenSinceYear,Promo2SinceYear,Week,Promo_fwd,Promo_bwd,StateHoliday_fwd,StateHoliday_bwd,SchoolHoliday_fwd,SchoolHoliday_bwd
count,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06
mean,5.584297e+02,3.998341e+00,2.013832e+03,5.846762e+00,1.570279e+01,4.766904e+02,3.031203e+03,1.974140e+03,1.955939e+03,2.361551e+01,2.648679e+00,2.670601e+00,1.115655e+00,1.108780e+00,1.232767e+00,1.230985e+00
std,3.219087e+02,1.997391e+00,7.773960e-01,3.326097e+00,8.787638e+00,6.135143e+02,2.927957e+03,5.085323e+01,5.588876e+01,1.443338e+01,1.910292e+00,1.902708e+00,2.261691e+00,2.263417e+00,2.053886e+00,2.055302e+00
min,1.000000e+00,1.000000e+00,2.013000e+03,1.000000e+00,1.000000e+00,-3.200000e+01,-1.270000e+02,1.900000e+03,1.900000e+03,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2.800000e+02,2.000000e+00,2.013000e+03,3.000000e+00,8.000000e+00,2.900000e+01,1.070000e+02,1.900000e+03,1.900000e+03,1.100000e+01,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,5.580000e+02,4.000000e+00,2.014000e+03,6.000000e+00,1.600000e+01,9.100000e+01,3.060000e+02,2.006000e+03,2.009000e+03,2.200000e+01,3.000000e+00,3.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,8.380000e+02,6.000000e+00,2.014000e+03,8.000000e+00,2.300000e+01,1.362000e+03,5.961000e+03,2.011000e+03,2.012000e+03,3.500000e+01,5.000000e+00,5.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,2.000000e+00
max,1.115000e+03,7.000000e+00,2.015000e+03,1.200000e+01,3.100000e+01,1.387000e+03,6.029000e+03,2.015000e+03,2.015000e+03,5.200000e+01,5.000000e+00,5.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00

In [106]:
base_df.loc[:, contin_vars].describe()

/home/paperspace/anaconda3/envs/fastai/lib/python3.6/site-packages/pandas/core/indexing.py:1472: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

,CompetitionDistance,Max_TemperatureC,Mean_TemperatureC,Min_TemperatureC,Max_Humidity,Mean_Humidity,Min_Humidity,Max_Wind_SpeedKm_h,Mean_Wind_SpeedKm_h,CloudCover,trend,trend_DE,AfterStateHoliday,BeforeStateHoliday,Promo,SchoolHoliday
count,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,0.0,0.0,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06
mean,5.415982e+03,1.432830e+01,1.007386e+01,5.900282e+00,9.328379e+01,7.395215e+01,4.992343e+01,2.267291e+01,1.187079e+01,5.085158e+00,NaN,NaN,8.864203e+01,6.181310e+05,3.815145e-01,1.786467e-01
std,7.710253e+03,8.464778e+00,7.239083e+00,6.459730e+00,7.717332e+00,1.320645e+01,1.962635e+01,8.940418e+00,5.897191e+00,2.197308e+00,NaN,NaN,6.756928e+03,2.691515e+05,4.857586e-01,3.830564e-01
min,0.000000e+00,-1.100000e+01,-1.300000e+01,-1.500000e+01,4.400000e+01,3.000000e+01,4.000000e+00,3.000000e+00,2.000000e+00,0.000000e+00,NaN,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,7.000000e+02,8.000000e+00,4.000000e+00,1.000000e+00,8.800000e+01,6.400000e+01,3.400000e+01,1.600000e+01,8.000000e+00,4.000000e+00,NaN,NaN,4.000000e+00,7.349510e+05,0.000000e+00,0.000000e+00
50%,2.320000e+03,1.500000e+01,1.000000e+01,6.000000e+00,9.400000e+01,7.500000e+01,4.900000e+01,2.100000e+01,1.100000e+01,6.000000e+00,NaN,NaN,1.600000e+01,7.351870e+05,0.000000e+00,0.000000e+00
75%,6.880000e+03,2.100000e+01,1.600000e+01,1.100000e+01,1.000000e+02,8.400000e+01,6.500000e+01,2.700000e+01,1.400000e+01,7.000000e+00,NaN,NaN,4.200000e+01,7.355680e+05,1.000000e+00,0.000000e+00
max,7.586000e+04,3.800000e+01,3.100000e+01,2.400000e+01,1.000000e+02,1.000000e+02,1.000000e+02,1.010000e+02,5.300000e+01,8.000000e+00,NaN,NaN,7.349540e+05,7.358090e+05,1.000000e+00,1.000000e+00

In [107]:
googletrend.head()

  state        week  trend
0    SN  2012-12-02     96
1    SN  2012-12-09     95
2    SN  2012-12-16     91
3    SN  2012-12-23     48
4    SN  2012-12-30     67

In [108]:
trends = googletrend.loc[googletrend['state'] != 'DE', :]

In [109]:
trends_DE = googletrend.loc[googletrend['state'] == 'DE', :]

In [110]:
trends.head()

  state        week  trend
0    SN  2012-12-02     96
1    SN  2012-12-09     95
2    SN  2012-12-16     91
3    SN  2012-12-23     48
4    SN  2012-12-30     67

In [111]:
trends_DE.head()

    state        week  trend
148    DE  2012-12-02     77
149    DE  2012-12-09     76
150    DE  2012-12-16     85
151    DE  2012-12-23     59
152    DE  2012-12-30     61

In [113]:
trends['week'] = trends['week'].astype('datetime64[D]')
trends_DE['week'] = trends_DE['week'].astype('datetime64[D]')

/home/paperspace/anaconda3/envs/fastai/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/home/paperspace/anaconda3/envs/fastai/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [115]:
trends_DE.columns = ['state', 'week', 'trend_DE']

In [114]:
base_df = base_df.merge(trends, left_on=['State', 'Date'], right_on=['state', 'week'], how='left')

In [116]:
base_df = base_df.merge(trends_DE, left_on=['Date'], right_on=['week'], how='left', suffixes=['', '_DE'])

In [117]:
base_df.loc[:, cat_vars].head()

,Store,DayOfWeek,Year,Month,Day,StateHoliday,CompetitionMonthsOpen,Promo2Weeks,StoreType,Assortment,...,Promo2SinceYear,State,Week,Events,Promo_fwd,Promo_bwd,StateHoliday_fwd,StateHoliday_bwd,SchoolHoliday_fwd,SchoolHoliday_bwd
0,1,2,2013,1,1,True,51.0,5895.0,c,a,...,1900.0,HE,1,Rain,0.0,1.0,1.0,1.0,1.0,7.0
1,1,3,2013,1,2,False,51.0,5895.0,c,a,...,1900.0,HE,1,0,0.0,2.0,1.0,0.0,2.0,7.0
2,1,4,2013,1,3,False,51.0,5895.0,c,a,...,1900.0,HE,1,Rain,0.0,3.0,1.0,0.0,3.0,7.0
3,1,5,2013,1,4,False,51.0,5895.0,c,a,...,1900.0,HE,1,Rain,0.0,4.0,1.0,0.0,4.0,7.0
4,1,6,2013,1,5,False,51.0,5895.0,c,a,...,1900.0,HE,1,Rain,0.0,5.0,1.0,0.0,5.0,7.0

In [118]:
base_df.loc[:, contin_vars].head()

,CompetitionDistance,Max_TemperatureC,Mean_TemperatureC,Min_TemperatureC,Max_Humidity,Mean_Humidity,Min_Humidity,Max_Wind_SpeedKm_h,Mean_Wind_SpeedKm_h,CloudCover,trend,trend_DE,AfterStateHoliday,BeforeStateHoliday,Promo,SchoolHoliday
0,1270.0,8,6,3,93,80,59,23,14,6.0,NaN,NaN,0.0,0.0,0,1
1,1270.0,6,3,0,100,85,67,19,11,6.0,NaN,NaN,1.0,734869.0,0,1
2,1270.0,7,4,3,100,90,77,29,19,7.0,NaN,NaN,2.0,734870.0,0,1
3,1270.0,11,9,6,100,93,79,21,13,6.0,NaN,NaN,3.0,734871.0,0,1
4,1270.0,9,8,7,87,78,67,24,18,7.0,NaN,NaN,4.0,734872.0,0,1

In [119]:
base_df.columns

Index(['Store', 'DayOfWeek', 'Date', 'Sales', 'Customers', 'Open', 'Promo',
       'StateHoliday', 'SchoolHoliday', 'StoreType', 'Assortment',
       'CompetitionDistance', 'CompetitionOpenSinceMonth',
       'CompetitionOpenSinceYear', 'Promo2', 'Promo2SinceWeek',
       'Promo2SinceYear', 'PromoInterval', 'Promo2SinceMonth',
       'CompetitionDaysOpen', 'CompetitionWeeksOpen', 'CompetitionMonthsOpen',
       'Promo2Days', 'Promo2Weeks', 'Promo2Months', 'State',
       'Max_TemperatureC', 'Mean_TemperatureC', 'Min_TemperatureC',
       'Dew_PointC', 'MeanDew_PointC', 'Min_DewpointC', 'Max_Humidity',
       'Mean_Humidity', 'Min_Humidity', 'Max_Sea_Level_PressurehPa',
       'Mean_Sea_Level_PressurehPa', 'Min_Sea_Level_PressurehPa',
       'Max_VisibilityKm', 'Mean_VisibilityKm', 'Min_VisibilitykM',
       'Max_Wind_SpeedKm_h', 'Mean_Wind_SpeedKm_h', 'Max_Gust_SpeedKm_h',
       'Precipitationmm', 'CloudCover', 'Events', 'WindDirDegrees', 'Year',
       'Month', 'Week', 'Day', 'Dayofweek', 'Dayofyear', 'Is_month_end',
       'Is_month_start', 'Is_quarter_end', 'Is_quarter_start', 'Is_year_end',
       'Is_year_start', 'Elapsed', 'AfterStateHoliday', 'BeforeStateHoliday',
       'SchoolHoliday_fwd', 'StateHoliday_fwd', 'Promo_fwd',
       'SchoolHoliday_bwd', 'StateHoliday_bwd', 'Promo_bwd', 'state', 'week',
       'trend', 'state_DE', 'week_DE', 'trend_DE'],
      dtype='object')

In [122]:
base_df.loc[:, ['Date', 'State'] + contin_vars]

,Date,State,CompetitionDistance,Max_TemperatureC,Mean_TemperatureC,Min_TemperatureC,Max_Humidity,Mean_Humidity,Min_Humidity,Max_Wind_SpeedKm_h,Mean_Wind_SpeedKm_h,CloudCover,trend,trend_DE,AfterStateHoliday,BeforeStateHoliday,Promo,SchoolHoliday
0,2013-01-01,HE,1270.0,8,6,3,93,80,59,23,14,6.0,NaN,NaN,0.0,0.0,0,1
1,2013-01-02,HE,1270.0,6,3,0,100,85,67,19,11,6.0,NaN,NaN,1.0,734869.0,0,1
2,2013-01-03,HE,1270.0,7,4,3,100,90,77,29,19,7.0,NaN,NaN,2.0,734870.0,0,1
3,2013-01-04,HE,1270.0,11,9,6,100,93,79,21,13,6.0,NaN,NaN,3.0,734871.0,0,1
4,2013-01-05,HE,1270.0,9,8,7,87,78,67,24,18,7.0,NaN,NaN,4.0,734872.0,0,1
5,2013-01-06,HE,1270.0,10,8,7,93,82,66,21,13,7.0,73.0,62.0,5.0,734873.0,0,1
6,2013-01-07,HE,1270.0,9,8,6,93,78,64,14,8,6.0,NaN,NaN,6.0,734874.0,1,1
7,2013-01-08,HE,1270.0,6,5,4,100,89,76,16,10,7.0,NaN,NaN,7.0,734875.0,1,1
8,2013-01-09,HE,1270.0,5,4,3,100,87,69,19,13,7.0,NaN,NaN,8.0,734876.0,1,1
9,2013-01-10,HE,1270.0,4,2,1,100,92,79,21,13,6.0,NaN,NaN,9.0,734877.0,1,1
10,2013-01-11,HE,1270.0,2,0,-2,93,69,47,24,10,4.0,NaN,NaN,10.0,734878.0,1,1
11,2013-01-12,HE,1270.0,1,-2,-4,86,69,37,19,6,3.0,NaN,NaN,11.0,734879.0,0,0
12,2013-01-13,HE,1270.0,0,-2,-4,86,65,41,19,11,5.0,54.0,51.0,12.0,734880.0,0,0
13,2013-01-14,HE,1270.0,-1,-3,-7,93,73,53,13,10,5.0,NaN,NaN,13.0,734881.0,0,0
14,2013-01-15,HE,1270.0,1,-4,-9,100,86,60,14,5,7.0,NaN,NaN,14.0,734882.0,0,0
15,2013-01-16,HE,1270.0,-1,-3,-4,100,90,76,14,6,7.0,NaN,NaN,15.0,734883.0,0,0
16,2013-01-17,HE,1270.0,0,-2,-3,93,83,68,21,14,7.0,NaN,NaN,16.0,734884.0,0,0
17,2013-01-18,HE,1270.0,0,-1,-2,80,73,60,21,14,7.0,NaN,NaN,17.0,734885.0,0,0
18,2013-01-19,HE,1270.0,-2,-3,-5,80,71,58,26,18,6.0,NaN,NaN,18.0,734886.0,0,0
19,2013-01-20,HE,1270.0,0,-3,-6,100,86,68,26,16,6.0,64.0,56.0,19.0,734887.0,0,0
20,2013-01-21,HE,1270.0,-1,-1,-2,100,96,82,10,5,7.0,NaN,NaN,20.0,734888.0,1,0
21,2013-01-22,HE,1270.0,-2,-2,-3,100,95,88,11,8,8.0,NaN,NaN,21.0,734889.0,1,0
22,2013-01-23,HE,1270.0,-1,-2,-3,100,90,79,10,5,7.0,NaN,NaN,22.0,734890.0,1,0
23,2013-01-24,HE,1270.0,-2,-4,-7,93,81,72,19,10,5.0,NaN,NaN,23.0,734891.0,1,0
24,2013-01-25,HE,1270.0,-2,-3,-3,93,81,70,16,10,7.0,NaN,NaN,24.0,734892.0,1,0
25,2013-01-26,HE,1270.0,-2,-3,-5,93,81,70,13,8,8.0,NaN,NaN,25.0,734893.0,0,0
26,2013-01-27,HE,1270.0,2,-1,-3,100,91,79,21,13,7.0,50.0,50.0,26.0,734894.0,0,0
27,2013-01-28,HE,1270.0,4,2,1,100,90,78,23,11,6.0,NaN,NaN,27.0,734895.0,0,0
28,2013-01-29,HE,1270.0,9,6,3,100,89,72,32,23,7.0,NaN,NaN,28.0,734896.0,0,0
29,2013-01-30,HE,1270.0,14,10,7,94,81,56,40,29,6.0,NaN,NaN,29.0,734897.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1017179,2015-07-02,HE,5350.0,35,28,21,64,41,18,16,10,0.0,NaN,NaN,28.0,735780.0,1,0
1017180,2015-07-03,HE,5350.0,36,29,22,78,50,17,16,6,1.0,NaN,NaN,29.0,735781.0,1,0
1017181,2015-07-04,HE,5350.0,38,31,23,73,46,15,23,8,4.0,NaN,NaN,30.0,735782.0,0,0
1017182,2015-07-05,HE,5350.0,38,30,22,78,46,14,32,11,2.0,76.0,74.0,31.0,735783.0,0,0
1017183,2015-07-06,HE,5350.0,29,22,16,88,46,13,29,18,2.0,NaN,NaN,32.0,735784.0,0,0
1017184,2015-07-07,HE,5350.0,35,26,17,64,40,15,35,10,5.0,NaN,NaN,33.0,735785.0,0,0
1017185,2015-07-08,HE,5350.0,23,20,17,72,47,25,47,23,5.0,NaN,NaN,34.0,735786.0,0,0
1017186,2015-07-09,HE,5350.0,21,17,13,94,56,27,32,21,5.0,NaN,NaN,35.0,735787.0,0,0
1017187,2015-07-10,HE,5350.0,25,16,7,87,45,10,16,8,1.0,NaN,NaN,36.0,735788.0,0,0
1017188,2015-07-11,HE,5350.0,32,23,14,59,35,11,23,11,0.0,NaN,NaN,37.0,735789.0,0,0
1017189,2015-07-12,HE,5350.0,26,20,15,89,52,16,26,11,6.0,90.0,86.0,38.0,735790.0,0,0
1017190,2015-07-13,HE,5350.0,22,19,16,94,73,50,26,11,6.0,NaN,NaN,39.0,735791.0,1,0
1017191,2015-07-14,HE,5350.0,26,21,17,92,68,36,35,16,6.0,NaN,NaN,40.0,735792.0,1,0
1017192,2015-07-15,HE,5350.0,29,22,16,88,57,26,19,10,5.0,NaN,NaN,41.0,735793.0,1,0
1017193,2015-07-16,HE,5350.0,33,25,17,88,51,16,14,8,1.0,NaN,NaN,42.0,735794.0,1,0
1017194,2015-07-17,HE,5350.0,35,28,20,73,43,14,32,11,6.0,NaN,NaN,43.0,735795.0,1,0
1017195,2015-07-18,HE,5350.0,30,24,18,99,65,31,32,13,3.0,NaN,NaN,44.0,735796.0,0,0
1017196,2015-07-19,HE,5350.0,28,24,19,83,59,39,40,14,5.0,68.0,74.0,45.0,735797.0,0,0
1017197,2015-07-20,HE,5350.0,28,22,17,96,76,45,21,10,5.0,NaN,NaN,46.0,735798.0,0,0
1017198,2015-07-21,HE,5350.0,32,26,19,88,60,27,23,11,3.0,NaN,NaN,47.0,735799.0,0,0
1017199,2015-07-22,HE,5350.0,33,26,18,96,57,24,27,10,5.0,NaN,NaN,48.0,735800.0,0,0
1017200,2015-07-23,HE,5350.0,27,22,18,64,43,21,21,14,5.0,NaN,NaN,49.0,735801.0,0,0
1017201,2015-07-24,HE,5350.0,32,24,17,73,43,21,50,11,6.0,NaN,NaN,50.0,735802.0,0,0
1017202,2015-07-25,HE,5350.0,22,18,14,99,70,43,68,31,4.0,NaN,NaN,51.0,735803.0,0,0
1017203,2015-07-26,HE,5350.0,22,16,9,94,60,20,26,13,5.0,91.0,87.0,52.0,735804.0,0,0
1017204,2015-07-27,HE,5350.0,22,18,13,94,69,46,50,21,6.0,NaN,NaN,53.0,735805.0,1,1
1017205,2015-07-28,HE,5350.0,22,19,15,88,48,20,40,23,5.0,NaN,NaN,54.0,735806.0,1,1
1017206,2015-07-29,HE,5350.0,22,17,12,88,54,20,32,21,5.0,NaN,NaN,55.0,735807.0,1,1
1017207,2015-07-30,HE,5350.0,23,14,7,93,56,18,29,11,4.0,NaN,NaN,56.0,735808.0,1,1
1017208,2015-07-31,HE,5350.0,23,16,8,98,54,18,24,11,1.0,NaN,NaN,57.0,735809.0,1,1